section.about(id="about")
	+chapter('A Short Story About Our Company', 'about us')
	.container
		.about__picture
		.about__story
			h4.about__story__title A Perfect Blend of Sensational Food, Inspiring Ideas and Professional Staff
			p.about__story__text #[span 1997] - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe cumque suscipit temporibus ipsam alias! Voluptas odit, facilis quasi explicabo, possimus, voluptatum, in ipsam alias repellat sint velit dolores voluptates. Maiores.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, suscipit assumenda hic nulla sint temporibus repellat laboriosam dignissimos. 
			a(href=$$ aria-label="read full story").button read full story