section.chef
	+chapter("Who's Behind Great Service?", 'chef')
	.container
		.chef__picture
		.chef__story
			blockquote.chef__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium suscipit, expedita ab error architecto adipisci ipsum, sint. Aliquid vitae accusamus, facilis atque quaerat officia unde consequuntur sunt dolore laudantium, possimus. Aliquid vitae accusamus, facilis atque quaerat officia unde consequuntur sunt dolore laudantium, possimus. Aliquid vitae accusamus, facilis atque quaerat officia unde consequuntur sunt dolore laudantium, possimus."
			h4.chef__title Andreo Moreno, #[span Master-Chef]
			a(href=$$ aria-label="view all team").button view all team
