.info__contacts
	a.info__phone(href="tel:123-456-7890" aria-label="phone")
		i.fa.fa-phone
		span.info_contact__text 123-456-7890
	a.info__mail(href="mailto:info@yoursite.com" aria-label="mail")
		.info__contact__text info@yoursite.com