section.services(id="services")
	.container
		+chapter('Planning a Fabulous Event?', 'services')
		ol.services__list
			li.services__item
				h3.services__header weddings
				.services__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			li.services__item
				h3.services__header corporate
				.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			li.services__item
				h3.services__header socials
				.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			li.services__item
				h3.services__header picnics
				.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			li.services__item
				h3.services__header festivals
				.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			li.services__item
				h3.services__header private parties
				.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	a(href=$$ aria-label="more services").button more services