section.staff(id="staff")
	+chapter('Meet the Team', 'staff')
	.container
		ul.staff__list
			li.staff__item
				img.staff__item__picture(src="./images/staff_founder.png" alt="founder")
				h3.staff__header Amanda Finch
				.staff__post Chef, Co-Founder
			li.staff__item
				img.staff__item__picture(src="./images/staff_chef.png" alt="chef")
				h3.staff__header Joseph Verder
				.staff__post Chef
			li.staff__item
				img.staff__item__picture(src="./images/staff_waiter.png" alt="waiter")
				h3.staff__header Anthony Mann
				.staff__post Waiter
			li.staff__item
				img.staff__item__picture(src="./images/staff_waitress.png" alt="waitress")
				h3.staff__header Julia Green
				.staff__post Waitress