section.testi(id="pages")
	+chapter('Clients About Us', 'testimionials')
	.container
		.testi__item
			a.prev_page(href=$$ id='testiPrev' aria-label="prev_page")
			a.next_page(href=$$ id='testiNext' aria-label="next_page")
			.testi__image
			p.testi__quote "Having worked with a number of caterers over the years, their level of service was notably high and they were integral to making the day a success".
			p.testi__quote "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto minima ducimus impedit quaerat, in placeat eum quis, veniam atque unde libero vero ut ipsam omnis vel doloremque. Quas, recusandae!".
			p.testi__quote "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quis cumque nulla consequatur quae atque tempore vitae harum? Facere recusandae natus explicabo reprehenderit beatae quas necessitatibus esse aspernatur perspiciatis voluptate!".
			p.testi__quote "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ab impedit eveniet dolor. Fugit rem animi numquam odit optio dolorum, dignissimos et aperiam nihil ipsum, voluptatem enim dicta, incidunt beatae!".
			p.testi__quote "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ad autem aliquid laudantium obcaecati tempore ipsum similique voluptates quaerat, omnis, id consectetur explicabo error expedita nam provident eveniet totam repellendus!".
			sub.testi__author laura &amp; Adam Ashley, NY
			sub.testi__author Steve Jobs, Jmerinka
			sub.testi__author Bill Gates, Zhashkiv
			sub.testi__author Mark Zuckerberg, Berdychiv
			sub.testi__author Jeff Bezos, Kryzhopil
		