/*Fonts*/
$ff-main: 'PT Serif', serif;
$ff-title: 'Yellowtail', cursive;

/*Colors*/
$context_bgc: #f3f1ec;
$button_bgc: #ffb18b;
$main_text_c: #808369;
$title_text_c: #434343;
$decor_green: #a7a99a;
$light_text_c: #929292;
$circle_c: #f0d5ba;
$big_decor_before: #eae7e0;

/*Arrows*/
$up: 225deg;
$down: 45deg;
$left: 135deg;
$right: 315deg;